:root {
	--color-bg-main: #111111;
	--color-bg-second: #1d1d1d;
	--color-bg-tirtiary: #171717;
	--color-bg-innerTab: rgba(71, 71, 71, 0.5);
	--color-bg-gradient: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.6) 75.52%,
			rgba(0, 0, 0, 0.7) 100%
		),
		url(<path-to-image>), lightgray 50% / cover no-repeat;
	--color-fill-white: #e6e6ee;
	--color-primary: #e3b748;
	--color-text-light: whitesmoke;

	--opacity-1: 0.1;
	--opacity-2: 0.2;
	--opacity-3: 0.3;
	--opacity-4: 0.4;
	--opacity-5: 0.5;
	--opacity-6: 0.6;
	--opacity-7: 0.7;
	--opacity-8: 0.8;
	--opacity-9: 0.9;

	--fontsize-1: 1rem;
	--fontsize-2: 2rem;
	--fontsize-3: 3rem;
	--fontsize-4: 4rem;
	--fontsize-5: 5rem;
	--fontsize-6: 6rem;
	--fontsize-7: 7rem;
	--fontsize-8: 8rem;
	--fontsize-9: 9rem;
	--fontsize-10: 10rem;

	--fontweight-100: 100;
	--fontweight-200: 200;
	--fontweight-300: 300;
	--fontweight-400: 400;
	--fontweight-500: 500;
	--fontweight-600: 600;
	--fontweight-700: 700;
	--fontweight-800: 800;
	--fontweight-900: 900;

	--font_family-1: "Inter", sans-serif;
	--font_family-2: "Helvetica Now Display", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-text-light);
	background: var(--color-bg-main);
	font-family: var(--font_family-1);
	/* font-family: var(--font_family-2); */
}

.app_main_container {
	/* border: 1px dotted red; */
	width: 100vw;
	min-height: 100vh;
	height: auto;
}
